@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-blue-200: hsl(193, 38%, 86%);
  --color-blue-600: hsl(217, 19%, 38%);
  --color-blue-900: hsl(217, 19%, 24%);
  --color-blue-950: hsl(218, 23%, 16%);

  --color-green-300: hsl(150, 100%, 66%);
}

body {
  background: var(--color-blue-950);
  color: var(--color-blue-200);
  font-family: var(--font-manrope);
  font-size: 1.75rem;
  font-weight: 800;
}

h1 {
  color: var(--color-green-300);
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.75rem;
  text-align: center;
}

button {
  cursor: pointer;
  background: var(--color-green-300);
}

button:hover,
button:active {
  filter: drop-shadow(0 0 1rem var(--color-green-300));
}

.divider {
  width: 100%;
  height: 1rem;
  margin: 1.25rem auto;
  background: url(/images/pattern-divider-mobile.svg) center center / auto 100%
    no-repeat;
}

@media (width > 20rem) {
  .divider {
    background-image: url(/images/pattern-divider-desktop.svg);
  }
}